<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  {% load static %}
  <link href="{% static 'qwe/css/style.css'%}" rel="stylesheet">
  <title>ASD</title>
</head>
<body>
  <div class="container">
    <div class="main">
      <p class="question">Вам уже исполнилось 18 лет?</p>
      <a href="https://www.google.kz/search?q=привет"><p class="answer-1">Мне меньше 18 :(</p></a>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
        <div class="answer-2-shell">
          <p class="answer-2">Молодец!</p>
        </div>
      </a>
    </div>
  </div>
</body>
</html>